// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio-inline-class {
  // border: 2px; 
  // background-color: rgb(255, 214, 0);
  // text-align: center;
  // line-height: 40px;
}

.radio-inline {
  font-size: 20px;
  background-color: lightblue;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
}