<% if show_news_articles? %>
  <div class="row">
    <div class="col-md-8">
      <%= render 'layouts/main' %>
    </div>
    <div class="col-md-4">
      <%= render 'layouts/right_side' %>
    </div>
  </div>
<% else %>
  <%= render 'layouts/main' %>
<% end %>
